@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: 0.2s;
}

body {
  background-color: #f0f0f5 ;
}
.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/heroImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-contact {
  --tw-bg-opacity: 1;
  background-color: rgb(16 13 37 / var(--tw-bg-opacity));
}

.bg-contact-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(21 16 48 / var(--tw-bg-opacity));
}

@layer base {
  body {
    overflow-x: hidden;
  }
}

@layer components {
  .title{
    @apply capitalize text-3xl font-semibold mb-10 
  }
}
